html, body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
} 

#gameCanvas{
    background-color: #87CEEB;
    background-image: url('./flappybirdbg.png');
}

